# Build-related
**/build/
.gradle/
.kotlin/
*.iml
xcuserdata/
captures/
.externalNativeBuild/
.cxx/
node_modules/

# IDE-related
.idea/
*.ipr
*.iws
.navigation/

# OS-related
.DS_Store
Thumbs.db
Desktop.ini
.attach_pid*

# Local configuration
local.properties
*.jks
*.keystore
*.p12
google-services.json

# iOS-related
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Output files
*.apk
*.aar
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.bin
*.hprof
